In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Crop_recommendation.csv",index_col=None)

In [3]:
df=dataset

In [4]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [5]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [6]:
independent=df[['N','P','K','rainfall']]

In [7]:
independent

        N   P   K    rainfall
0      90  42  43  202.935536
1      85  58  41  226.655537
2      60  55  44  263.964248
3      74  35  40  242.864034
4      78  42  42  262.717340
...   ...  ..  ..         ...
2195  107  34  32  177.774507
2196   99  15  27  127.924610
2197  118  33  30  173.322839
2198  117  32  34  127.175293
2199  104  18  30  140.937041

[2200 rows x 4 columns]

In [8]:
dependent=df[['label']]

In [9]:
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [11]:
from sklearn.preprocessing import LabelEncoder
#encoding
le=LabelEncoder()
df['label']=le.fit_transform(df['label'])
df['label']

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: label, Length: 2200, dtype: int32

In [12]:
# Print all label mappings
for index, label in enumerate(le.classes_):
    print(f"{label} --> {index}")

apple --> 0
banana --> 1
blackgram --> 2
chickpea --> 3
coconut --> 4
coffee --> 5
cotton --> 6
grapes --> 7
jute --> 8
kidneybeans --> 9
lentil --> 10
maize --> 11
mango --> 12
mothbeans --> 13
mungbean --> 14
muskmelon --> 15
orange --> 16
papaya --> 17
pigeonpeas --> 18
pomegranate --> 19
rice --> 20
watermelon --> 21

In [13]:
df.label.value_counts()

label
20    100
11    100
8     100
6     100
4     100
17    100
16    100
0     100
15    100
21    100
7     100
12    100
1     100
19    100
10    100
2     100
14    100
13    100
18    100
9     100
3     100
5     100
Name: count, dtype: int64

In [14]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [15]:
independent_X=independent
dependent_Y=dependent

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 50, random_state = 0)
regressor.fit(X_train,Y_train)

C:\Users\Admin\anaconda3\envs\adml\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

ValueError: could not convert string to float: 'rice'

In [ ]:
y_pred=regressor.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [ ]:
r_score

In [ ]:
import pickle
filename="finalized_model_Forest.sav"
pickle.dump(regressor,open(filename,'wb'))

In [ ]:
loaded_model=pickle.load(open("finalized_model_Forest.sav",'rb'))
result=loaded_model.predict([[117,32,34,26.272418,52.127394,6.758793,127.]])

In [ ]:
result